.main-content--login {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 100vh;
}

.logo {
  height: 82px;
  margin-bottom: $gutter/2;

  @include MQ(M) {
    height: 120px;
  }
}