.wrapper {
  margin-top: $main-header-height;
  // padding-top: $gutter/2;
  
  @include MQ(L) {
    margin-left: $width-navigation;
  }
}

.target {
  position: relative;
  z-index: 500;
  min-height: 30vh;
}