*,
*::before,
*:after {
  box-sizing: border-box;
}

body {
  margin : 0;
  font-family : $font-regular;
  color: #333;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

b {
  display: none;
}
input {
  border: 0;
  
  &:focus {
    outline: none;
  }
}
