.course {
  &__header {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $gutter/3;
    border-radius: .5em;

    &.green {
      background-color: lighten(#2E7D32, 40%);
      color: darken(#2E7D32, 30%);
    }

    &.red {
      background-color: lighten(#ff5252, 10%);
      color: darken(#ff5252, 48%);
    }

  }
}