.course {
  &__header {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $gutter/3;
    margin-bottom: $gutter/2;

    &.green,
    &.red {
      color: #FFF;
    }

    &.green {
      background-color: #00C853;
    }

    &.red {
      background-color: #ff5252;
    }

  }
}