.course {
  position: relative;
  &__header {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__message {
    background-color: rgba($red-100, .7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}