.fade-enter-active {
  transition: opacity .2s ease;
}
.fade-leave-active {
  transition: opacity .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}


.slide-fade-enter-active {
  transition: all 1s ease;
}
.slide-fade-leave-active {
  transition: all 1.5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.slide-fade-top-enter-active {
  transition: all .3s ease;
}
.slide-fade-top-leave-active {
  transition: all .6s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-top-enter, .slide-fade-top-leave-to {
  transform: translateY(10px) scale(.7);
  opacity: 0;
}