.print {
  &__show {
    display: none;
  }
  &__img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    @include MQ(XM) {
      position: absolute;
      left: 0;
      transform: translateX(0);
    }
  }
}


@media print {

  .print {

    &__img {
      position: absolute;
      left: 0;
      transform: translateX(0);
    }

    &__show {
      display: block;
    }
    
    &__header {
      display: block;
      top: 0;
      min-height: 2cm;
    }

    &__section {
      // display: block;
      min-height: 10cm;
    }

    &__m-t {
      margin-top: 5.5cm;
    }
  }
  

}
