.card {
  @extend .shadow-1;
  width: 100%;
  padding: $gutter/1.7;
  margin-bottom: $gutter/2;
  background-color: #FFF;

  &__title {
    margin-top: 0;
    margin-bottom: $gutter/3;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
  }
}

.card--ligth {
  padding: $gutter/1.7;
  background-color: #F4F6F9;
}