.legend {
  
  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.3em;
    margin-bottom: 0.3em;
    height: 2.5em;
    padding: 0 1em;
    border-radius: 1.2em;
    border: 1px solid #ccc;
  }
}

.circle {
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-right: $gutter/3;
  background-color: teal;
}

.circle--absence {
  @extend .circle;
  background-color: #FFEBEE;
  border: 1px solid #F44336;
}
.circle--delay {
  @extend .circle;
  background-color: #FFE0B2;
  border: 1px solid #FF9800;
}
.circle--arrive {
  @extend .circle;
  background-color: #E3F2FD;
  border: 1px solid #2196F3;
}