.overlay__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  @include z-index(main-header);
  background-color: rgba($color: #000, $alpha: 0.4);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  @include z-index(modal);
  width: 95%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #FFF;

  @include MQ(XM) {
    width: 70%;
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: $gutter $gutter $gutter/3;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.09);
  }

  &__body {
    height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
    
    @include MQ(XM) {
      height: 60vh;
    }
    @include MQ(M) {
      height: 67vh;
    }
  }

  &__content {
    margin: $gutter/2 $gutter 0;
  }

  &__close {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    margin-right: 0;
    margin-top: 0;
    border-radius: 50%;
    color: $gray;
    transition: all .3s ease-in-out;
    background-color: darken($snow , 1%);
    // background-color: teal;
    position: absolute;
    top: -$gutter - .7;
    right: 0;

    &:hover {
      color: #FFF;
      background-color: $red;
    }
  }

  // TYPE
  
  // ALERT
  &.alert {
    width: 400px;
    .modal__body {
      min-height: 10vh;
      height: auto;
      max-height: 80%;
    }
  }
}

