.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $gutter/1.3;
  height: $gutter/1.3;
  position: absolute;
  right: 0;
  top: 2px;
  border: 2px solid #FFF;
  border-radius: 50%;
  background-color: $red;

  & > span[class^="icon-"]{
    color: #FFF;
    font-size: 12px;
  }
}