.sticker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: $gutter/3;
  border-radius: .5em;
  background-color: lighten(#fab649, 20%);

  &.green {
    background-color: lighten(#2E7D32, 40%);
    color: darken(#2E7D32, 30%);
  }

  &.red {
    background-color: lighten(#ff5252, 10%);
    color: darken(#ff5252, 48%);
  }
}