.table {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  margin-bottom: $gutter/2;
  @extend .shadow-1;

  & table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    & thead th,
    & tbody td {
      padding: $gutter/2 $gutter/2;
      text-align: left;
    }
  
    & thead {
      & th {
        height: 30px;
      }
    }
  
    & tbody {
      & td {
        border-top: 1px solid rgba(0,0,0,.15);
        color: #333;
      }
    }
  
  }
  
  & .table-header,
  & .table-content {
    width: 100%;
    position: relative;
  }

  & .table-header {
    box-shadow: 0 0 20px 0 rgba(0,0,0,.09);
  }

  & .table-content {
    // display: flex;
    // flex: 1;
  }
  
  &.header-fixed {
    & .table-content {
      max-height: 400px;
      // overflow-y: auto;
      // overflow-x: hidden;

    }
  }

}