.table {
  $header-color: #FAFAFA;
  $light-color: #ffffff;
  $dark-color: #F9F9F9;
  display: flex;
  // flex-flow: column nowrap;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  margin: 0.5rem;
  line-height: 1.5; 

  @include MQ(XM) {
  }

  // .Table-header
  &-header {
    display: none;
    visibility: hidden;
    @include MQ(XM) {
      font-weight: 700;
      display: block;
      visibility: visible;
      width: 100%;
    }
    & .table-row-item {
      background-color: $header-color;

      &.center {
        justify-content: center;
      }
    }
  }
  // .Table-body
  &-body {
    max-height: 400px;
    overflow: auto;
    @include MQ(XM) {
      // margin-top: 50px;
    }
  }

  // .Table-row
  &-row {
    width: 100%;
    &:nth-of-type(even) {
      background-color:darken($dark-color, 10%);
    }
    &:nth-of-type(odd) {
      background-color: $light-color;
    }
    @include MQ(XM) {
      display: flex;
      flex-flow: row nowrap;
      &:nth-of-type(even) {
        background-color: $light-color;
      }
      &:nth-of-type(odd) {
        background-color: $dark-color;
      }
    } 
    // .Table-row-item
    &-item {
      display: flex;
      flex-flow: row nowrap;
      flex-grow: 1;
      flex-basis: 0;
      padding: 12px 6px;
      word-break: break-word;
      
      &:before {
        content: attr(data-header);
        width: 50%;
        font-weight: 700;
      }
      @include MQ(XM) {
        border-top: 1px solid rgba(0, 0, 0, .04);
        border-bottom: 1px solid rgba(0, 0, 0, .04);
        padding: 12px 6px;
        &:before {
          content: none;
        }
      }
    }
  }
}

@for $i from 1 through 10 {
  .u-Flex-grow#{$i} {
    flex-grow: i;
  }
}



// <div class="tbl-content">
//   <table cellpadding="0" cellspacing="0" border="0">
// $(window).on("load resize ", function() {
//   var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
//   $('.tbl-header').css({'padding-right':scrollWidth});
// }).resize();