.tabs {
  display: flex;
  justify-content: flex-start;
  overflow-y: hidden;
  overflow-x: auto;
  height: 48px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .09);

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.tab {
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
  height: 100%;
  font-size: 15px;
  border-bottom: 2px solid transparent;
  transition: all .3s ease-in;
  
  &:hover {
    background-color: lighten($gray, 65%);
  }

  &.is-active {
    color: $blue-100;
    background-color: lighten($secondary-color, 72%);
    border-bottom: 2px solid $blue-100;
    @extend .shadow--hover;
  }

  &:active {
    transform: scale(.92);
  }
}