.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 200px;
  margin-top: $gutter/4;
  padding: .5em .4em;
  border: 1px solid $gray;
  border-radius: 2em;
  color: $gray;

  @include MQ(S) {
    margin-top: 0;
    padding: .4em;
  }
}

.tag--label {
  border-radius: .5em;
  background-color: #F4F6F9;
  
  &.red {
    // border: 1px solid $red-100;
    // background-color: lighten($red-100, 25%);
    // background-color: lighten(#ff5252, 10%);
    color: $red;
  }

  &.blue {
    // border: 1px solid $blue-50;
    // background-color: lighten($blue-50, 45%)
    // background-color: lighten(#2E7D32, 40%);
    color: #2E7D32;

  }

  &.blue-ligth {
    // border: 1px solid $blue-10;
    // background-color: lighten($blue-10, 10%);
    // color: 
    

  }

}