.u-hidden{
  display: none;
}
.u-bold{
  font-weight: bold;
}
.u-hover{
  cursor:pointer;
  &:hover{
    opacity: .6;
  }
}
.u-mla{
  margin-left: auto;
}

.u-gray{
  background-color: #ccc;
}
.u-center{
  text-align: center;
}
.u-fixed{
  position: fixed;
}

.text-danger{
  color: red;
}
.text-center{
  text-align: center;
}
.m-auto{
  margin: auto;
}