.overlay__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  @include z-index(main-header);
  background-color: rgba($color: #000, $alpha: 0.4);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  padding: $gutter;
  @include z-index(modal);
  height: calc(80% - 2rem);
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #FFF;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $gutter/3;
  }

  &__close {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    margin-right: 0;
    margin-top: 0;
    border-radius: 50%;
    color: $gray;
    transition: all .3s ease-in-out;
    background-color: darken($snow , 1%);
    // background-color: teal;
    position: absolute;
    top: -$gutter - .7;
    right: 0;

    &:hover {
      color: #FFF;
      background-color: $red;
    }
  }
}
