
/************* Sizes *************/
$first-size: 10px;
$font-size-breakpoints :
  x-small $first-size,
  small $first-size + 3,
  regular ($first-size + 6),
  large ($first-size + 10),
  x-large ($first-size + 15),
  xx-large ($first-size + 20);

@each $breakpoint in $font-size-breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);

  .font-size-#{$name} {
    font-size: $size;
  }
}

/************* Weights *************/

$weights-breakpoints :
  light 200,
  regular 400,
  bold 600;
@each $breakpoint in $weights-breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);
  .font-weight-#{$name} {
    font-weight: $size;
  }
}

/************* Families *************/

$family-breakpoints :
  regular $font-regular,
  bold $font-bold,
  mono $font-monospace;
@each $breakpoint in $family-breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);
  .font-family-#{$name} {
    font-family: $size;
  }
}

/************* Type font *************/
.title {
  margin-top: 0;
  margin-bottom: 0;
}

/************* Position font *************/

.text--center {
  text-align: center;
}
.text--left {
  text-align: left;
}
.text--right {
  text-align: right;
}